* {
    padding: 0;
    margin: 0;
}

:root {
    --line: 60px;
}

body {
    background: url(/img/bg-image.jpg) no-repeat 0 -140px;
    background-size: cover;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: .25em;
}

nav {
    margin-top: 20px;
    width: 100%;
    height: var(--line);
    background-color: rgba(248, 172, 100, 0.363);
    position: relative;
}

.left-side-menu {
    margin-left: 40px;
    list-style: none;
    float: left;
}

.left-side-menu li {
    line-height: 55px;
    float: left;
    position: relative;
}

.left-side-menu li ul {
    list-style: none;
    display: none;
    position: absolute;
    top: 60px;
    background-color: rgba(248, 172, 100, 0.363);
    border-radius: 0 0 10px 10px;
}

.left-side-menu li:hover ul {
    display: block;
}

.left-side-menu a,
.flyout-menu a {
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0 10px;
}

.left-side-menu li ul li {
    width: 175px;
    padding: 0 10px;
}

.left-side-menu li ul li a {
    padding: 0;
}

.title-span {
    color: rgb(151, 0, 0);
}

.left-side-menu a:hover,
.right-side-menu a:hover {
    color: rgb(151, 0, 0);
}

#btnMenu {
    position: absolute;
    right: 40px;
    margin-top: 14px;
    width: 20px;
    height: 24px;
    padding: 4px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

#btnMenu:hover {
    border: 2px solid rgb(85, 55, 27, 0.8);
    border-radius: 4px;
    /*background: rgba(248, 172, 100, .363); */
    background: #ddd;
}

#btnMenu>div {
    height: 2px;
    background: rgb(85, 55, 27, 0.8);
    width: 100%;
}

.flyout-menu {
    display: block;
    clear: both;
    background: rgba(248, 172, 100, 0.363);
    border-radius: 0 0 10px 10px;
    list-style: none;
    position: fixed;
    top: 80px;
    right: -310px;
    transition: right 0.5s;
}

.flyout-menu li {
    line-height: 55px;
}